<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<h1>About Press Play</h1>
<p>
    # History
    Auota Time, German born neurosurgeon with doctorates in linguistics, anthropology, astrophysics and quantum string theory, came to Skegness in the
    1960s with pocket full of hopes and dreams. He had left a happy family and farm home of 22 horses, 13 cows, 3 pigs and a duckbill platypus to make
    his name in the world. Arriving in the UK, he loved the people, ever changing weather, mediocre football but most importantly, cinema.<br><br>
    Auota spend most of his free time watching movies of all genres at the "Low High Street Cinema and Bingo hall" near his university. Unknown to
    him, the poor cinema was only able to afford seemingly low budget bootleg movies. However, where many saw trash, Auota saw treasure.<br><br>
    The stories captivated his imagination and he often spoke about his love for classics such as "Cheese on Toast Ghost 3" and the ever popular
    "Mutant Killer Remote Controls vs Robot House Plants". He longed to share his passion with his university friends.<br><br>
    A flash of inspiration came one day when, while accidentally walking onto the university baseball pitch, he was struck with a stray ball which
    knocked him out. The last thing he remembered was the team's logo of a bumble bee. While recovering in hospital, He saw a divine vision of 2 words
    in those familiar yellow and black colors, Press Play.<br><br>
    He set up the first video store in his final year of university, sacrificing his qualification for his love of film. Over time, the franchise
    became a popular hotspot for movie lovers and students in the local area.<br><br>
    Over time, the rise of streaming services and DVDs hurt the business but a die hard group of VHS enthusiasts kept the business alive and would
    become the main customer base for Press Play. Now, under the guidance of his son, Justin Time, Press Play hopes to become the leading provide of
    sub-par VHS entertainment.<br><br>
    **If the mind is the greatest cinema, then we ready to take the ticket of your mind on a journey of discovery**
    - Aouta Time
</p>
</body>
</html>