<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<h1>Your Films:</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Rental Duration</th>
            <th>Price</th>
            <th>Store</th>

        </tr>
        </thead>
        <tr th:each="basket : ${userBasket.getFilmsInBasket()}">
            <td th:text="${basket.getFilmTitle()}"></td>
            <td th:text="${basket.getRentalDuration()}"></td>
            <td th:text="${basket.getPrice()}"></td>
            <td th:text="${basket.getStore()}"></td>
        <td>

    </table>
<form th:action="@{/rentFilms}" th:object="${rental}" method="post">
    <button type="submit">Rent</button>
</form>
</body>
</html>