<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:insert="fragments/header"></div>

</body>
<div th:each="films: ${singleFilm}">
    <h2><label>Title: </label>
        <a th:text="${films.title}"></a><br>
    </h2>
    <label>Description: </label>
    <a th:text="${films.description}"></a><br>
    <label>Release year: </label>
    <a th:text="${films.releaseYear}"></a><br>
    <label>Length: </label>
    <a th:text="${films.length}"></a><br>
    <label>Rental Duration: </label>
    <a th:text="${films.rentalDuration}"></a><br>
    <label>Rating: </label>
    <a th:text="${films.rating}"></a><br>
    <label>Replacement Cost: </label>
    <a th:text="${films.replacementCost}"></a><br>
    <label>Special Features: </label>
    <a th:text="${films.specialFeatures}"></a><br>
    <label>Rental Rate: </label>
    <a th:text="${films.rentalRate}"></a><br>
    <label>Availability: </label>
    <a th:each="availability: ${availability}">
    <a th:href="@{/checkout/{id}/{store}(id=${films.filmId}, store=${availability.toString()})}"
       th:text="${availability.toString().replace('[', '').replace(']', '')}">
    </a>
    </a><br>
</div>
</html>